@import "normalize.pcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --color-albiBlue: #00294E;
  --color-albiLightBlue: #27bed5;
  --color-albiPink: #e30d5c;
  --color-albiWhite: #ffffff;
  --color-albiYellow: #fede3c;
}

body {
  background-color: var(--color-albiBlue);
  box-shadow: inset 0 0 100px #000000;
}
